---
---

@import "{{ site.theme }}";
sup {
    vertical-align: super;
    font-size: smaller;
}
header.inner{
    max-width: 768px;
}
section.inner{
    max-width: 700px;
}

#project_title{
    padding-left: 18px;
}

#project_tagline{
    padding-left: 32px;
}

div.footnotes{
    color: #606060;
    font-size: 11pt;
}

a{
    color: inherit;
    border-bottom: dotted 1px #aaa;
}
a:hover{
    color: #0F79D0;
    text-decoration: none;
}

a code{
    color: inherit;
}